:root {
    --red: #E50914;
    --black: #141414;
    --gray: #AAAAAA;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: var(--white);
    
}

header {
    position: fixed;
    width: 100%;
    background: linear-gradient(180deg, rgba(14,14,14,.50) 0%, rgba(14,14,14,0) 100%);
    z-index: 20;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
}

.menu, .secundary-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}   

header .logo {
    color: var(--red);
    font-family: 'Arial Black', Times;
    font-size: 30px;
    margin-right: 20px;
    cursor: pointer;
}

header nav a {
    color: var(--white);
    text-decoration: none;
    padding-right: 10px;
}

header nav a:hover {
    color: var(--white);
}

header .box-perfil {
    cursor: pointer;
}

header .secundary-navigation i {
    cursor: pointer;
    margin-right: 20px;
}

header .box-perfil img {
    width: 35px;
    height: 35px;
    margin-right: 20px;
}

main {
    background-color: var(--black);
}

.banner-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url("https://www.themoviedb.org/t/p/original/yMxKoqSA30c2gNxWshUb9KqhMEf.jpg");
    background-size: cover;
    padding-left: 40px;
    padding-right: 40px;
}

.banner-main .title {
    margin-top: 15%;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    font-size: 50px;
}

.banner-main .description {
    margin-bottom: 40px;
}

.banner-main .btn {
    background-color: rgba(0, 0, 0, .5);
    color: var(--white);
    font-size: 12px;
    text-transform: uppercase;
    border: none;    
    cursor: pointer;
    padding: 15px 30px;
    margin-right: 15px;
}

.banner-main .btn:hover{
    background-color: var(--white);
    color: rgba(0, 0, 0, .5);
    transition: 500ms ease-in-out all;
}

.banner-main .btn i {
    margin-right: 5px;
}

.title-list {
    position: relative;
    top: -10px;
    font-size: 20px;
}

.list {
    margin-top: 2%;
    padding-left: 40px;
    position: relative;
    top: -40px;
}

.my-list {
    position: relative;
    top: -40px;
}

.box-movie {
    cursor: pointer;
    display: block;
    width: 300px;
    min-height: 200px;
    transform: scale(0.8);
}

.box-movie:hover{
    transform: scale(0.9);
    transition: ease 0.5;
    z-index: 9999;
}

.box-movie img {
    border-radius: 2px;
}

.box-movie-describle {
    display: none;
    background-color: var(--black);
    padding: 1% 5%;
}

.show {
    display: block;
}

.box-movie-describle .serie-options i {
    margin: 1% 3% 3% 0;
    border: 2px var(--white) solid;
    border-radius: 50%;
    padding: 3%;
    font-size: 10x;
    opacity: 0.7;
}

.box-movie-describle .serie-options i:hover {
    opacity: 0.9;
    transition: 1s ease-in;
}

footer {
    background-color: var(--black);
    padding-top: 60px;
    padding-left: 110px;
    min-height: 300px;
}

footer i {
    font-size: 35px;
    opacity: 0.4;
    padding-left: 10px;
    cursor: pointer;
}

footer .options{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 65%;
}

footer .options a{
    display: block;
    padding: 10px;
    font-size: 0.8em;
    text-decoration: none;
    color: var(--white);
    opacity: 0.4;
}

footer .others {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    color: var(--white);
    opacity: 0.4;
    margin-top: 15px;
    padding-left: 10px;
}

footer .others .btn {
    width: 15%;
    margin-bottom: 15px;
    background-color: var(--black);
    border: solid var(--gray) 1px;
    color: var(--white);
    padding: 3px;
}